{
  "openapi": "3.1.0",
  "info": {
    "title": "X402 Dollar Homepage API",
    "description": "API for the X402 Dollar Homepage - a 1000x1000 pixel canvas where you can buy and paint pixels using USDC on Base via the x402 protocol.\n\n## Prerequisites\n\n**For Mainnet (Base):**\n- USDC on Base (0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913)\n\n**For Testnet (Base Sepolia):**\n- USDC on Base Sepolia (0x036CbD53842c5426634e7929541eC2318f3dCF7e) - Get from https://faucet.circle.com\n\n**Note:** Gas fees are covered by the Coinbase x402 facilitator - you only need USDC!\n\n## SDK Installation\n\n```bash\nnpm install x402 @coinbase/x402 viem\n```\n\n## Quick Start\n\n```typescript\nimport { wrapFetch } from 'x402/fetch';\nimport { facilitator } from '@coinbase/x402';\nimport { createWalletClient, http } from 'viem';\nimport { privateKeyToAccount } from 'viem/accounts';\nimport { base } from 'viem/chains';\n\nconst account = privateKeyToAccount('0x...');\nconst walletClient = createWalletClient({ account, chain: base, transport: http() });\nconst fetchWithPayment = wrapFetch(fetch, walletClient, { facilitator });\n\nconst response = await fetchWithPayment('https://x402dollarhomepage.com/api/pixel/paint', {\n  method: 'POST',\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify({ x: 100, y: 200, color: '#ff0000' })\n});\n```",
    "version": "1.0.0",
    "contact": {
      "name": "X402 Dollar Homepage",
      "url": "https://x402dollarhomepage.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://x402dollarhomepage.com",
      "description": "Production server (Base mainnet - uses USDC on Base)"
    },
    {
      "url": "https://x402dollarhomepage.com",
      "description": "Testnet server (Base Sepolia - use /api/sepolia/* endpoints)"
    }
  ],
  "paths": {
    "/api/canvas/binary": {
      "get": {
        "operationId": "getCanvasBinary",
        "summary": "Get canvas as binary data",
        "description": "Returns the entire 1000x1000 pixel canvas as efficient binary data. Approximately 19x smaller than JSON format.",
        "tags": ["Canvas"],
        "responses": {
          "200": {
            "description": "Binary canvas data",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/canvas/json": {
      "get": {
        "operationId": "getCanvasJson",
        "summary": "Get canvas as JSON",
        "description": "Returns the entire canvas as a JSON object with all pixel data. More readable for agents but larger than binary format.",
        "tags": ["Canvas"],
        "responses": {
          "200": {
            "description": "Canvas data in JSON format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanvasResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/pixel/paint": {
      "get": {
        "operationId": "getPixelInfo",
        "summary": "Get pixel information",
        "description": "Returns information about a specific pixel including its current color, owner, price, and x402 payment requirements.",
        "tags": ["Pixel"],
        "parameters": [
          {
            "name": "x",
            "in": "query",
            "required": true,
            "description": "X coordinate (0-999)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 999
            }
          },
          {
            "name": "y",
            "in": "query",
            "required": true,
            "description": "Y coordinate (0-999)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 999
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pixel information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PixelInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid coordinates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "paintPixel",
        "summary": "Paint a single pixel",
        "description": "Paint a pixel with the specified color. Requires x402 USDC payment. Without X-PAYMENT header, returns 402 with payment requirements. With valid payment, processes the transaction and updates the pixel.",
        "tags": ["Pixel"],
        "parameters": [
          {
            "name": "X-PAYMENT",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload. If omitted, returns 402 with payment requirements.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaintPixelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pixel painted successfully",
            "headers": {
              "X-PAYMENT-RESPONSE": {
                "description": "Base64-encoded payment response with transaction details",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaintPixelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or payment header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment required - returns x402 payment requirements",
            "headers": {
              "X-PAYMENT-REQUIRED": {
                "description": "Indicates payment is required",
                "schema": {
                  "type": "string",
                  "enum": ["true"]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequiredResponse"
                }
              }
            }
          },
          "403": {
            "description": "Pixel has reached maximum claim limit (10)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimLimitError"
                }
              }
            }
          }
        }
      }
    },
    "/api/pixel/paint-batch": {
      "post": {
        "operationId": "paintPixelBatch",
        "summary": "Paint multiple pixels",
        "description": "Paint up to 100 pixels in a single transaction. Requires x402 USDC payment for the total cost of all pixels.",
        "tags": ["Pixel"],
        "parameters": [
          {
            "name": "X-PAYMENT",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaintBatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pixels painted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaintBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchPaymentRequiredResponse"
                }
              }
            }
          },
          "403": {
            "description": "Some pixels have reached claim limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchClaimLimitError"
                }
              }
            }
          }
        }
      }
    },
    "/api/sepolia/canvas/binary": {
      "get": {
        "operationId": "getSepoliaCanvasBinary",
        "summary": "[TESTNET] Get canvas as binary data",
        "description": "Returns the testnet 100x100 pixel canvas as efficient binary data. Uses Base Sepolia USDC (0x036CbD53842c5426634e7929541eC2318f3dCF7e). Canvas resets daily.",
        "tags": ["Testnet"],
        "responses": {
          "200": {
            "description": "Binary canvas data",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/api/sepolia/canvas/json": {
      "get": {
        "operationId": "getSepoliaCanvasJson",
        "summary": "[TESTNET] Get canvas as JSON",
        "description": "Returns the testnet canvas as JSON. 100x100 canvas on Base Sepolia. Get testnet USDC from https://faucet.circle.com (gas is covered by Coinbase).",
        "tags": ["Testnet"],
        "responses": {
          "200": {
            "description": "Canvas data in JSON format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanvasResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/sepolia/pixel/paint": {
      "get": {
        "operationId": "getSepoliaPixelInfo",
        "summary": "[TESTNET] Get pixel information",
        "description": "Returns testnet pixel info with Base Sepolia payment requirements. Coordinates 0-99.",
        "tags": ["Testnet"],
        "parameters": [
          {
            "name": "x",
            "in": "query",
            "required": true,
            "description": "X coordinate (0-99)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 99
            }
          },
          {
            "name": "y",
            "in": "query",
            "required": true,
            "description": "Y coordinate (0-99)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 99
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pixel information with testnet payment requirements",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SepoliaPixelInfoResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "paintSepoliaPixel",
        "summary": "[TESTNET] Paint a pixel on Base Sepolia",
        "description": "Paint a pixel on the testnet canvas. Requires Base Sepolia USDC (gas is covered by Coinbase). Get testnet USDC from https://faucet.circle.com (select Base Sepolia).",
        "tags": ["Testnet"],
        "parameters": [
          {
            "name": "X-PAYMENT",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload (Base Sepolia USDC)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SepoliaPaintPixelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pixel painted successfully on testnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SepoliaPaintPixelResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required - returns Base Sepolia USDC payment requirements",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SepoliaPaymentRequiredResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/sepolia/pixel/paint-batch": {
      "post": {
        "operationId": "paintSepoliaPixelBatch",
        "summary": "[TESTNET] Paint multiple pixels on Base Sepolia",
        "description": "Paint up to 100 pixels on the testnet canvas. Uses Base Sepolia USDC.",
        "tags": ["Testnet"],
        "parameters": [
          {
            "name": "X-PAYMENT",
            "in": "header",
            "required": false,
            "description": "Base64-encoded x402 payment payload",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SepoliaPaintBatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pixels painted successfully on testnet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaintBatchResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SepoliaPaymentRequiredResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        },
        "required": ["error"]
      },
      "Pixel": {
        "type": "object",
        "properties": {
          "x": {
            "type": "integer",
            "description": "X coordinate (0-999)",
            "minimum": 0,
            "maximum": 999
          },
          "y": {
            "type": "integer",
            "description": "Y coordinate (0-999)",
            "minimum": 0,
            "maximum": 999
          },
          "color": {
            "type": "string",
            "description": "Hex color code",
            "pattern": "^#[0-9A-Fa-f]{6}$",
            "example": "#ff0000"
          },
          "owner": {
            "type": "string",
            "nullable": true,
            "description": "Wallet address of current owner"
          },
          "price": {
            "type": "number",
            "description": "Current price in USD",
            "example": 0.01
          },
          "updateCount": {
            "type": "integer",
            "description": "Number of times this pixel has been painted",
            "minimum": 0,
            "maximum": 10
          }
        },
        "required": ["x", "y", "color", "price", "updateCount"]
      },
      "CanvasResponse": {
        "type": "object",
        "properties": {
          "canvas": {
            "type": "object",
            "properties": {
              "width": {
                "type": "integer",
                "example": 1000
              },
              "height": {
                "type": "integer",
                "example": 1000
              },
              "defaultColor": {
                "type": "string",
                "example": "#1a1a2e"
              }
            }
          },
          "pixels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Pixel"
            },
            "description": "Array of pixels that have been painted (excludes default/empty pixels)"
          },
          "stats": {
            "type": "object",
            "properties": {
              "totalPainted": {
                "type": "integer",
                "description": "Number of pixels that have been painted"
              },
              "totalPixels": {
                "type": "integer",
                "example": 1000000
              }
            }
          }
        }
      },
      "PixelInfoResponse": {
        "type": "object",
        "properties": {
          "pixel": {
            "$ref": "#/components/schemas/Pixel"
          },
          "maxClaims": {
            "type": "integer",
            "description": "Maximum number of times a pixel can be claimed",
            "example": 10
          },
          "paymentRequirements": {
            "$ref": "#/components/schemas/PaymentRequirements"
          }
        }
      },
      "PaymentRequirements": {
        "type": "object",
        "description": "x402 payment requirements",
        "properties": {
          "scheme": {
            "type": "string",
            "enum": ["exact"],
            "description": "Payment scheme"
          },
          "network": {
            "type": "string",
            "example": "base",
            "description": "Blockchain network"
          },
          "maxAmountRequired": {
            "type": "string",
            "description": "Amount in atomic units (6 decimals for USDC)",
            "example": "10000"
          },
          "resource": {
            "type": "string",
            "description": "Resource URL"
          },
          "description": {
            "type": "string",
            "example": "Paint pixel (100, 200) on 402 Dollar Homepage"
          },
          "mimeType": {
            "type": "string",
            "example": "application/json"
          },
          "payTo": {
            "type": "string",
            "description": "Recipient wallet address"
          },
          "maxTimeoutSeconds": {
            "type": "integer",
            "example": 300
          },
          "asset": {
            "type": "string",
            "description": "USDC contract address on Base",
            "example": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
          }
        }
      },
      "PaintPixelRequest": {
        "type": "object",
        "properties": {
          "x": {
            "type": "integer",
            "description": "X coordinate (0-999)",
            "minimum": 0,
            "maximum": 999
          },
          "y": {
            "type": "integer",
            "description": "Y coordinate (0-999)",
            "minimum": 0,
            "maximum": 999
          },
          "color": {
            "type": "string",
            "description": "Hex color code",
            "pattern": "^#[0-9A-Fa-f]{6}$",
            "example": "#ff0000"
          }
        },
        "required": ["x", "y", "color"]
      },
      "PaintPixelResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "pixel": {
            "$ref": "#/components/schemas/Pixel"
          },
          "settlement": {
            "type": "object",
            "properties": {
              "transaction": {
                "type": "string",
                "description": "Transaction hash"
              },
              "network": {
                "type": "string",
                "example": "base"
              }
            }
          }
        }
      },
      "PaymentRequiredResponse": {
        "type": "object",
        "properties": {
          "x402Version": {
            "type": "integer",
            "example": 1
          },
          "accepts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentRequirements"
            }
          },
          "error": {
            "type": "string",
            "example": "Payment required"
          }
        }
      },
      "ClaimLimitError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Pixel claim limit reached"
          },
          "message": {
            "type": "string"
          },
          "maxClaims": {
            "type": "integer",
            "example": 10
          },
          "currentClaims": {
            "type": "integer"
          }
        }
      },
      "PaintBatchRequest": {
        "type": "object",
        "properties": {
          "pixels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaintPixelRequest"
            },
            "minItems": 1,
            "maxItems": 100,
            "description": "Array of pixels to paint (max 100)"
          }
        },
        "required": ["pixels"]
      },
      "PaintBatchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "pixels": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "x": { "type": "integer" },
                "y": { "type": "integer" },
                "color": { "type": "string" },
                "updateCount": { "type": "integer" }
              }
            }
          },
          "pixelCount": {
            "type": "integer"
          },
          "settlement": {
            "type": "object",
            "properties": {
              "transaction": { "type": "string" },
              "network": { "type": "string" }
            }
          }
        }
      },
      "BatchPaymentRequiredResponse": {
        "type": "object",
        "properties": {
          "x402Version": {
            "type": "integer"
          },
          "accepts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentRequirements"
            }
          },
          "error": {
            "type": "string"
          },
          "pixelCount": {
            "type": "integer"
          },
          "totalPriceCents": {
            "type": "integer",
            "description": "Total price in cents"
          }
        }
      },
      "BatchClaimLimitError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "maxedPixels": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "x": { "type": "integer" },
                "y": { "type": "integer" }
              }
            }
          }
        }
      },
      "SepoliaPixelInfoResponse": {
        "type": "object",
        "properties": {
          "testnet": {
            "type": "boolean",
            "example": true
          },
          "network": {
            "type": "string",
            "example": "base-sepolia"
          },
          "pixel": {
            "$ref": "#/components/schemas/Pixel"
          },
          "maxClaims": {
            "type": "integer",
            "example": 10
          },
          "paymentRequirements": {
            "$ref": "#/components/schemas/SepoliaPaymentRequirements"
          }
        }
      },
      "SepoliaPaymentRequirements": {
        "type": "object",
        "description": "x402 payment requirements for Base Sepolia testnet",
        "properties": {
          "scheme": {
            "type": "string",
            "enum": ["exact"]
          },
          "network": {
            "type": "string",
            "example": "base-sepolia",
            "description": "Base Sepolia testnet (chain ID: 84532)"
          },
          "maxAmountRequired": {
            "type": "string",
            "description": "Amount in atomic units (6 decimals for USDC)",
            "example": "10000"
          },
          "asset": {
            "type": "string",
            "description": "Base Sepolia USDC contract address",
            "example": "0x036CbD53842c5426634e7929541eC2318f3dCF7e"
          },
          "payTo": {
            "type": "string",
            "description": "Recipient wallet address"
          }
        }
      },
      "SepoliaPaintPixelRequest": {
        "type": "object",
        "properties": {
          "x": {
            "type": "integer",
            "description": "X coordinate (0-99 for testnet)",
            "minimum": 0,
            "maximum": 99
          },
          "y": {
            "type": "integer",
            "description": "Y coordinate (0-99 for testnet)",
            "minimum": 0,
            "maximum": 99
          },
          "color": {
            "type": "string",
            "description": "Hex color code",
            "pattern": "^#[0-9A-Fa-f]{6}$",
            "example": "#ff0000"
          }
        },
        "required": ["x", "y", "color"]
      },
      "SepoliaPaintPixelResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "testnet": {
            "type": "boolean",
            "example": true
          },
          "pixel": {
            "$ref": "#/components/schemas/Pixel"
          },
          "settlement": {
            "type": "object",
            "properties": {
              "transaction": {
                "type": "string"
              },
              "network": {
                "type": "string",
                "example": "base-sepolia"
              }
            }
          }
        }
      },
      "SepoliaPaymentRequiredResponse": {
        "type": "object",
        "properties": {
          "x402Version": {
            "type": "integer",
            "example": 1
          },
          "accepts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SepoliaPaymentRequirements"
            }
          },
          "error": {
            "type": "string",
            "example": "Payment required"
          },
          "testnet": {
            "type": "boolean",
            "example": true
          },
          "network": {
            "type": "string",
            "example": "base-sepolia"
          }
        }
      },
      "SepoliaPaintBatchRequest": {
        "type": "object",
        "properties": {
          "pixels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SepoliaPaintPixelRequest"
            },
            "minItems": 1,
            "maxItems": 100,
            "description": "Array of pixels to paint on testnet (max 100)"
          }
        },
        "required": ["pixels"]
      }
    }
  },
  "tags": [
    {
      "name": "Canvas",
      "description": "Operations for retrieving the full canvas state (mainnet - Base USDC)"
    },
    {
      "name": "Pixel",
      "description": "Operations for reading and painting individual pixels (mainnet - Base USDC)"
    },
    {
      "name": "Testnet",
      "description": "Testnet operations on Base Sepolia. 100x100 canvas that resets daily. Get testnet USDC from https://faucet.circle.com (select Base Sepolia). Gas is covered by Coinbase! Web UI: https://x402dollarhomepage.com/sepolia"
    }
  ],
  "externalDocs": {
    "description": "AI Agent Documentation (llms.txt)",
    "url": "https://x402dollarhomepage.com/llms.txt"
  },
  "x-sdk-packages": {
    "description": "Required npm packages for x402 payment signing",
    "packages": [
      {
        "name": "x402",
        "description": "Core x402 protocol types, utilities, and wrapFetch for automatic 402 handling"
      },
      {
        "name": "@coinbase/x402",
        "description": "Coinbase facilitator for payment verification and settlement"
      },
      {
        "name": "viem",
        "description": "Ethereum wallet client for transaction signing"
      }
    ],
    "install": "npm install x402 @coinbase/x402 viem"
  }
}
